.testing {
  width: 71.42857%; }

.wrapper {
  padding: 0;
  background-color: black;
  background-image: url(../images/main-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 608px; }

.ghost-buttons {
  float: right; }

.container {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 50px 20px; }

.wrapper .container .logo img {
  max-width: 185px;
  margin-right: 30px;
  margin-bottom: 10px;
  float: left; }

.ghost-btn {
  color: white;
  height: 38px;
  line-height: 34px;
  padding: 0 20px;
  font-size: 0.9em;
  border: 2px solid #ea495c;
  border-radius: 5px;
  display: block;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  float: left; }
  .ghost-btn:hover {
    transition: 0.5s ease;
    background-color: #ea495c;
    color: #fff; }
  .ghost-btn:focus {
    outline: none; }

.ghost-full-btn {
  color: white;
  height: 38px;
  line-height: 34px;
  padding: 0 20px;
  font-size: 0.9em;
  border: solid 1px #b81528;
  border-radius: 5px;
  display: block;
  background-color: #ea495c;
  text-decoration: none;
  cursor: pointer;
  float: left; }
  .ghost-full-btn:hover {
    transition: 0.5s ease;
    background-color: #ec5768;
    color: #fff; }
  .ghost-full-btn:focus {
    outline: none; }

.career-btn, .login-btn {
  margin: 0 15px; }

.welcome {
  padding: 40px;
  margin-top: 20px;
  text-align: center; }
  .welcome .first-row {
    font-size: 1.3em;
    color: white;
    font-family: "adelle", Georgia, serif;
    font-weight: 200;
    text-shadow: 0 0 8px black; }
  .welcome .second-row {
    font-size: 2.5em;
    color: white;
    font-family: "adelle", Georgia, serif;
    font-weight: 200;
    text-shadow: 0 0 8px black; }
  .welcome .button-container {
    margin-top: 50px; }
    .welcome .button-container .ghost-full-btn {
      float: none;
      margin: 0 auto; }
