.wrapper-login {
  padding: 0;
  background-color: black;
  background-image: url(../images/register-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 608px;

  .container {
    max-width: 1170px;
    position: relative;
    margin:0 auto;
    padding: 20px 20px 50px 20px;

    .logo {
      img {
        max-width: 185px;
        margin-right: 30px;
        margin-bottom: 10px;
        margin-top: 20px;
        float: left;
      }
    }
  }
  .login_new {
    float: right;
    color: #c4c4c4;

    table {
      border-collapse: collapse;
      border-spacing: 0;
      .fl {
        padding-bottom: 6px;
        color: #FFF;
      }
      .ti {
        width: 200px;
        height: 25px;
        border: 1px solid #333333;
        border-radius: 3px;
        padding-left: 5px;

        input {
          background-color: rgb(250, 255, 189);
          background-image: none;
          color: rgb(0, 0, 0);
        }

        #wp-submit {
          background: #27af72;
          border: 1px solid #27af72;
          height: 26px;
          width: 80px;
          color: #FFF;
          overflow: hidden;
          cursor: pointer;
        }
      }
    }
  }
}