.wrapper {
  padding: 0;
  background-color: black;
  background-image: url(../images/main-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 608px;

  .container {
    max-width: 1170px;
    position: relative;
    margin:0 auto;
    padding: 20px 20px 50px 20px;

    .logo {
      img {
        max-width: 185px;
        margin-right: 30px;
        margin-bottom: 10px;
        float: left;
      }
    }
  }
}

.ghost-buttons {
  float: right;
  .ghost-btn {
    color: white;
    height: 34px;
    line-height: 34px;
    padding: 0 20px;
    font-size: 0.9em;
    border: 2px solid #ea495c;
    border-radius: 5px;
    display: block;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    float: left;
    &:hover{
      transition:0.5s ease;
      background-color:#ea495c;
      color:#fff;
    }
    &:focus{
      outline:none;
    }
  }

  .ghost-full-btn {
    color: white;
    height: 38px;
    line-height: 34px;
    padding: 0 20px;
    font-size: 0.9em;
    border: solid 1px #b81528;
    border-radius: 5px;
    display: block;
    background-color: #ea495c;
    text-decoration: none;
    cursor: pointer;
    float: left;
    &:hover{
      transition:0.5s ease;
      background-color:#ec5768;
      color:#fff;
    }
    &:focus{
      outline:none;
    }
  }

  .career-btn, .login-btn {
    margin: 0 15px;
  }
}
.welcome {
  padding: 40px;
  margin-top: 20px;
  text-align: center;
  .first-row {
    font-size: 1.3em;
    color: white;
    font-family: "adelle", Georgia, serif;
    font-weight: 200;
    text-shadow: 0 0 8px black;
  }
  .second-row {
    font-size: 2.5em;
    color: white;
    font-family: "adelle", Georgia, serif;
    font-weight: 200;
    text-shadow: 0 0 8px black;
  }
  .button-container {
    margin-top: 50px;
    .ghost-full-btn {
      float: none;
      margin: 0 auto;
    }
  }
}