<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            Search: <input type="text" ng-model="search"  ng-model-options="{debounce: 400}" class="search-query" placeholder="Search">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-if="book">
            <img ng-src="{{book.img}}" class="book-large pull-right">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-if="book">
            <h3 class="redColor paddingDetails">Book name: {{book.name}}</h3>
            <h3 class="blueColor paddingDetails">Author: {{book.author}}</h3>
            <h3 class="redColor paddingDetails">Pages: {{book.pages}}</h3>
            <h3 class="blueColor paddingDetails">Year of printing: {{book.year}}</h3>
            <h4 class="yellowColor paddingDetails">Rating: {{book.rating}}</h4>
            <h4 class="yellowColor paddingDetails">Description: {{book.description}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-if="book">
            <h3>Reviews</h3> <br>
            <form name="reviewform" id="reviewform" ui-sref="books" method="POST" ng-submit="sendReview()">
                <textarea name="text" ng-model="text" placeholder="Add a review"></textarea><br>
                <input type="submit" name="submit" id="submit" value="Add review">
                <input type="hidden" name="book" ng-model="book" value="{{book}}">
            </form>
            <div ng-repeat="review in book.reviews">
                {{review.text}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-2" ng-repeat="book in books | filter:search:strict" ng-click="showBook(book)">
            <div class="book-item">
                <img ng-src="{{book.img}}" class="book-item">
            </div>
        </div>
    </div>
</div>