<div class="wrapper">
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="../images/bookster-logo-white.png">
            </div>
            <div class="ghost-buttons">
                <button class="ghost-full-btn career-btn">Cariere</button>
                <button class="ghost-btn login-btn">Intra in cont</button>
            </div>
        </div>
        <div class="welcome">
            <h3 class="first-row">Spunem bun-venit booksterilor de la <strong>Servier</strong>!</h3>
            <h2 class="second-row">Prima biblioteca pentru companii din România</h2>
            <div class="button-container">
                <button class="ghost-full-btn">Activeaza cont</button>
            </div>
        </div>
    </div>
</div>